
:root {
    --dark: #30353D;
    --light: #EEEEF7;
    --accent: #92CCCE;
    --accent-hl: #b0f8fa;
    --body: #445877;
    --body-hl: #6a8bbd;
}

a {
    text-decoration: none;
    transition: 0.3s ease;
}

/* ----The Site Title and the Navigation Bar----- */

.header-top {
    height: 65px;
    padding: 0px;

    background-color: var(--dark);
    
    display: flex;
    justify-content: space-between;
}

.header-title {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4); */

    display: flex;
    align-items: center;
    
}

.header-title h1 {
    padding: 5px 5px 5px 50px;

    color: var(--dark);
    background-color: var(--accent);

    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:600;
}

nav {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4);  */

    width: 40%;
    margin-right: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4);  */

    margin: 0px 5px;

    border-bottom: 3px solid var(--accent);

    color: var(--accent);

    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

    flex-basis: auto;
}

nav a:hover {
    border-bottom: 8px solid var(--accent-hl);
    color: var(--accent-hl);
}

/* -----The Subtitle----- */

.header-bottom {
    background-image: linear-gradient(0deg, rgba(0, 41, 63, 0.5), rgba(0, 123, 195, 0.5)), url("images/02-hero-bg.jpg");
    background-size: cover;
}

.header-btm-flex {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4); */

    margin: 0px 10%;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.box {
    margin: 15px 0px;
    padding-left: 5px;

    border-radius: 0 35px 35px 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.481);

    background-color: var(--accent);

    display: flex;
    align-items: center;
}

.header-bottom, .header-btm-flex {
    height: 130px;
}

.header-btm-flex img {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4); */

    height: 60px;
    margin-top: 5px;
    margin-right: 5px;

    border-radius: 50%;
}

.header-btm-flex h2 {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4); */

    padding: 5px 5px 5px 5px;

    color: var(--dark);
    background-color: var(--accent);

    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:500;
    text-align: right;
}

.header-btm-flex span {
    font-weight: 600;
}

.profile-pic {
    height: 100px;
    width: 100px;
}

/* ----The Main Content----- */

main {
    padding: 10px 50px;
    background-color: var(--light);
}

.content-container {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4); */

    color: var(--body);

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;

    display: flex;
}

.content-container p {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4); */

    padding-bottom: 10px;
    color: #50617F;
    line-height: 16px;
}

.content-title {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4); */

    width: 20%;
    margin: 10px;
    padding-right: 10px;

    border-right: 3px solid var(--body);

    color: var(--body);

    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:600;
    text-align: right;
}

.section-content {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4); */

    width: 70%;
    margin: 10px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px 0px;
}

.gallery-item {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.2); */

    border: 3px solid var(--accent);

    height: 103px;
    width: 200px;

    display: flex;
    align-items: flex-end;
}

.image-caption {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.2); */

    padding: 10px 5px;
    margin-bottom: 12px;

    color: #50617F;
    background-color: var(--accent);

    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image-caption h3 {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.2); */
    
    padding-bottom: 5px;
    color: var(--body);
    font-size: 18px;
}

.image-caption caption {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.2); */

    font-size: 100px;
}

.row {
    flex-grow: 1;
}

#gallery-item-main {
    width: 100%;
    height: 300px;

    background-image: linear-gradient(0deg, rgba(30, 55, 69, 0.5),  rgba(67, 123, 154, 0.5)), url("images/02-portfolio-4.jpg");
    background-size: cover;

    order: 1;
    flex-grow: 2;
}

#led-wall {
    width: 48%;

    background-image: linear-gradient(0deg, rgba(30, 55, 69, 0.5),  rgba(67, 123, 154, 0.5)), url("images/02-portfolio-1.jpg");
    background-size: cover;
    
    order: 2;
}

#calculator {
    width: 48%;

    background-image: linear-gradient(0deg, rgba(30, 55, 69, 0.5),  rgba(67, 123, 154, 0.5)), url("images/02-portfolio-2.jpg");
    background-size: cover;

    order: 3;
}

#pastel-puzzels {
    width: 48%;

    background-image:  linear-gradient(0deg, rgba(30, 55, 69, 0.5),  rgba(67, 123, 154, 0.5)),url("images/02-portfolio-3.jpg");
    background-size: cover;

    order: 4;
}

#run-buddy {
    width: 48%;

    background-image: linear-gradient(0deg, rgba(30, 55, 69, 0.5),  rgba(67, 123, 154, 0.5)), url("images/02-run-buddy.jpg");
    background-size: cover;

    order: 5;
}

#lower-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    align-items: center;
}

#lower-nav a {
    /* This dashed border is used to as a bounding box to see the space taken up by the relative tag (and/or class) */
    /* border: 2px dashed rgba(0, 0, 0, 0.4);  */

    margin: 0px 1%;

    border-bottom: 3px solid var(--body);

    color: var(--body);

    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

    flex-basis: auto;
}

#lower-nav a:hover {
    border-bottom: 8px solid var(--body-hl);
    color: var(--body-hl);
}

/* ----The Footer----- */

footer {
    background-color: var(--dark);
    height: 100px;
}

/* !!!!! MEDIA QUERY !!!!! */

@media (max-width: 724px) {
    
    .header-top {
        height: 250px;

        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
  
    .header-title {
        width: 100%;
        justify-content: center;
    }

    .header-title h1 {
        padding: 5px;
        margin-top: 25px;

        font-size: 36px;
    }

    nav {
        width: 100%;
        margin-top: 20px;

        flex-direction: column;
        align-content: space-around;
    }

    nav a {
        margin: 0px 2px;
        padding: 10px 100px;

        border-bottom: 1px solid  var(--dark);
        border-top: 1px solid  var(--dark);

        font-size: 12px;
        text-decoration: none;

        flex-basis: 0;
    }
    
    nav a:hover {
        border-bottom: 1px solid var(--accent-hl);
        border-top: 1px solid var(--accent-hl);
    }

    .header-btm-flex {
        justify-content: center;
        align-items: center;
    }

    .header-bottom, .header-btm-flex {
        height: 200px;
    }

    .box {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0);
        background-color: #92ccce00;
        flex-direction: column-reverse;
    }

    .header-btm-flex img {
        height: 75px;
        margin: 15px;

        border-radius: 50%;
        border: 5px solid var(--accent);
        box-shadow: 2px 2px 8px black;
    }

    .header-btm-flex h2 {
        margin: 5px;

        color: white;
        background-color: #92ccce00;

        font-size: 24px;
        text-align: center;
        text-shadow: 2px 2px 8px black;
    }

    .content-container {
        flex-direction: column;
    }

    .content-title {

        width: 90%;
        padding-bottom: 5px;

        border-right: none;
        border-bottom: 3px solid var(--body);

        font-size: 24px;
        text-align: left;
    }

    .section-content {
        width: 90%;
    }

    #led-wall {
        width: 100%;
    }

    #calculator {
        width: 100%;
    }

    #pastel-puzzels {
        width: 100%;
    }

    #run-buddy {
        width: 100%;
    }

    #lower-nav {
        width: 90%;
        flex-direction: column;
    }

    #lower-nav a {
        padding: 10px 0px;
        margin: 0px 0px; 
        
        border-bottom: none;
        border-bottom: 1px solid  var(--light);
        border-top: 1px solid  var(--light);

        flex-basis: 0;
    }

    #lower-nav a:hover {
        border-bottom: 1px solid var(--body-hl);
        border-top: 1px solid var(--body-hl);
    }

}

@media (min-width: 1198px) {

    .content-container {
        margin: 0 auto;
        width: 80%;
    }

    .header-top {
        padding: 0 15%;
    }

    .header-title h1 {
        padding: 5px;
    }

    .header-bottom {
        padding: 0 15%;
    }
    
}