
/* ----The Site Title and the Navigation Bar----- */


.header-top {
    background-color: #30353D;
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.header-title {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    
}

.header-title h1 {
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:600;

    color: #30353D;
    background-color: #92CCCE;

    padding: 5px 5px 5px 50px;
}

.header-nav {
    border: 2px dashed rgba(0, 0, 0, 0.4); 
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header-nav a {
    color: #92CCCE;
    padding: 1px;
}

/* -----The Subtitle----- */

.header-bottom {
    background-image: url("images/02-hero-bg.jpg");
    background-size: cover;
}

.header-btm-flex {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header-bottom, .header-btm-flex {
    height: 130px;
}

.header-btm-flex h2 {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    color: black;
    margin: 20px 50px;
    width: 200px;

    text-align: right;
}

/* ----The Main Content----- */

main {
    background-color: whitesmoke;
    padding: 10px 50px;
}

.content-container {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    display: flex;
}

.content-container p {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    
}

.content-title {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    background-color:gainsboro;
    width: 20%;
    margin: 10px;

    border-right: 3px solid #445877;

    text-align: right;
}

.section-content {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    background-color: lemonchiffon;
    width: 80%;
    margin: 10px;
}

.work-section {
    display: flex;
    flex-wrap: wrap;

}

.gallery-item {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    height: 103px;
    width: 200px;
}

.row {
    display: flex;
}

#gallery-item-main {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    width: 100%;
    background-image: url("images/02-portfolio-4.jpg");
    background-size: cover;
}

#led-wall {
    background-image: url("images/02-portfolio-1.jpg");
    background-size: cover;
}

#calculator {
    background-image: url("images/02-portfolio-2.jpg");
    background-size: cover;
}

#pastel-puzzels {
    background-image: url("images/02-portfolio-3.jpg");
    background-size: cover;
}

#run-buddy {
    background-image: url("images/02-run-buddy.jpg");
    background-size: cover;
}

.lower-nav {
    border: 2px dashed rgba(0, 0, 0, 0.4);  
    display: flex; 
}

.lower-nav li {
    border: 2px dashed rgba(0, 0, 0, 0.4); 
    flex-grow: 1;
    text-align: center;
}

/* ----The Footer----- */

footer {
    background-color: slategray;
}